<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DailyFLO</string>
	<key>UIAppFonts</key>
	<array>
		<string>lunary-free.otf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>DailyFlo uses your microphone to transcribe voice journal entries.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>DailyFlo uses speech recognition to turn your spoken words into journal text.</string>
</dict>
</plist>
